@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #469D89;
    --big-font: 5em;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}
.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: var(--main-color);
.navlist a:active{
    color: var(--main-color);
}
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
section{
    padding: 160px 15% 120px;
}
.character{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(xiaogif.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.slide{
    margin-bottom: 20px;
}
.one{
    display: inline-block;
    margin-right: 15px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}
.two{
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}
.character-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;
}
.character-text h3{
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}
.character-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}
.button{
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.btn{
    display: inline-block;
    padding: 12px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 500;
    transition: all .45s ease;
}
.btn:hover{
    transform: scale(0.9);
}
.lore{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.lore-img img{
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 5px;
}
.lore-img {
    transition: transform 0.3s ease;
}
.lore-img:hover {
    transform: translateY(20px);
}
.lore-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.lore-text h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}
.lore-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}
.weapons{
    background: var(--second-bg-color);
}
.main-text{
    text-align: center;
}
.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}
.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.weapons-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box{
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}
.box p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}
.box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

.artifacts-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box{
    background: var(--second-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}
.box h5{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}
.box p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}
.box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

.Team{
    background: var(--second-bg-color);
}
.main-text{
    text-align: center;
}
.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}
.main-text h3{
    font-size: var(--h2-font);
    line-height: 1;
}
.team-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box{
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}
.box p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}
.box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

/*login*/


/* Remove the background color from the button */
#openButton {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    /* Add any additional styles you want for the button text */
    color: #fff; /* Change the button text color if needed */
    font-size: 16px; /* Adjust the font size if needed */
    /* Add more styles as necessary */
    font-size: 19px;
    font-weight: 500;
    margin-left: auto;
}

 
/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

/* Styles for the login form container */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #469D89;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 60%;
    max-width: 300px;
}

/* Styles for the close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
}

/* Styles for the submit button */
input[type="submit"] {
    width: 100%; /* Expand the button to fill the form width */
    background-color: #000000; /* Change the button background color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* Adjust the form input styles as needed */
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* Styles for the "Remember Me" checkbox */
#rememberMe {
    vertical-align: left; /* Align the checkbox vertically with the text */
    margin-right: 5px; /* Add spacing between the checkbox and the label */
}

/* Styles for the label associated with the checkbox */
label[for="rememberMe"] {
    font-size: 14px;
    vertical-align: left; /* Align the label vertically with the checkbox */
}

/* Styles for the "Forgot Password?" link */
a#forgotPassword {
    display: block;
    text-align: right; /* Align the link text to the right */
    margin-left: auto; /* Push the link to the right corner */
    font-size: 14px; /* Adjust the font size if needed */
    color: #000000; /* Change the link color if needed */
}

